
  .modal{
    position: relative!important;
  } 

  div#review_detail_modal{
    position: relative!important;
  }
  div#review_detail_modal>div.modal-dialog {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }